<nav class="navbar bg-body-tertiary">
    <div class="container-fluid mt-20">
      <a class="navbar-brand" class="profile-heading" href="#">User Profile</a>
    </div>
  </nav>


<div *ngIf="userDetails" class="profile-container">
   
    <div class="profile-card">
      <div class="profile-picture">
        <img src="{{ userDetails.profilePic }}" alt="Profile Picture" />
      </div>
      <div class="profile-details">
        <div class="profile-info">
          <span class="info-label">First Name:</span>
          
          <span class="info-value">{{ userDetails.fullName.split(' ')[0] }}</span>
        </div>
        <div class="profile-info">
          <span class="info-label">Last Name:</span>
          <span class="info-value">{{ userDetails.fullName.split(' ')[1] }}</span>
        </div>
        <div class="profile-info">
          <span class="info-label">Email:</span>
          <span class="info-value">{{ userDetails.email }}</span>
        </div>
      </div>
    </div>
    <div class="logout-button">
      <button type="button" (click)="onLogout()">Logout</button>
    </div>
  </div>
  